<main class="container">
  <h1 class="display-4 mt-3">{{ title }}</h1>

  <section class="card mt-4">
    <div class="card-header">
      <h2>Neues Tier hinzufügen</h2>
    </div>

    <div class="card-body">
      <input
        class="form-control mb-2"
        type="text"
        [(ngModel)]="newAnimal.name"
      />
      <input
        class="form-control mb-2"
        type="text"
        [(ngModel)]="newAnimal.type"
      />
      <button class="btn btn-primary" (click)="addAnimal()">
        + Hinzufügen
      </button>
    </div>
  </section>

  <section class="card mt-4">
    <div class="card-header"><h2>Liste</h2></div>

    <div class="card-body">
      <div *ngFor="let animal of animals">
        <p>
          {{ animal.name }}
          ({{ animal.type }})
          <button class="btn btn-danger btn-sm" (click)="deleteAnimal(animal)">
            x
          </button>
        </p>
        <hr />
      </div>
    </div>
  </section>
</main>
